<h1>Votes</h1>

<%= form_for [ @votable, @vote ] do |f| %>


  <!-- <div class="field">
    <%= debug @commentable %><br />
  </div> -->

  <div class="field"><!-- 
    <%= f.label :content %><br /> -->
    <br />
    <%= f.text_field :vote %>
  </div>

  <div class="actions">
    <%= f.submit "Add Vote" %>
  </div>

<% end %>